background {
  color: skyblue;
  /* background-image: url('https://images.app.goo.gl/7DT8vXuRnaNUQB3U8');
  background-repeat: no-repeat;
  background-size: cover; */

}

#movie {
  text-align: center;
}

#review {
  text-align: center;
}

/* #search {
  float: left;
} */
