<!--The content below is only a placeholder and can be replaced.-->
<h1>
  title placeholder
</h1>
<h1>{{today}} {{month}}/{{day}}/{{year}}</h1>
<body>
  <div>
    <label for="title">Movie Title</label>
    <input #title>
    <br>
    <label for="thoughts">Review:</label>
    <input #thoughts>
    <label for="name">Name:</label>
    <input #name>
    <button class="btn btn-outline-info btn-md" (click)="addReview(title.value, thoughts.value)">Submit Review</button>
    <form>
      <input [(ngModel)] ="titleName" type="text" name="title">
    </form>

  </div>
  <div id="reviews">
    <h1>Current Reviews:</h1>
    <div class="well">
      <div *ngFor="let singleReview of reviews">
        <h2>{{singleReview.title}}</h2>
        <ul>
          <h3></h3><li *ngFor="let singleThoughts of singleReview.thoughts">{{singleThoughts}}<button (click)="editReview()">Edit!</button></li>
        </ul>
      </div>


  </div>
</div>
