/* You can add global styles to this file, and also import other style files */
body {
  background-color: skyblue;
}

.well {
  border-left: 50px;
}
#movie {
  border-left: 50px;
}

#review {
  padding-top: 100px;
}

#search {
  float: right;
}
