/* You can add global styles to this file, and also import other style files */
body {
  background-color: skyblue;
  /* background-image: url('https://images.app.goo.gl/7DT8vXuRnaNUQB3U8');
  background-repeat: no-repeat;
  background-size: cover; */
}

.well {
  border-left: 50px;
}
#movie {
  border-left: 50px;
}

#review {
  padding-top: 100px;
}

/* #search {
  float: right;
} */
